In [1]:
rows = 5

for i in range(rows):
    print("* " * (i + 1))

for i in range(rows - 2, -1, -1):
    print("* " * (i + 1))

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [2]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in range(len(my_list)):
    if i % 2 != 0:
        print(my_list[i])

20
40
60
80
100

In [1]:
x = [23, 'Python', 23.98]
types_list = [type(element) for element in x]

print(x)

print(types_list)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [2]:
def get_unique_elements(lst):
    unique_list = []
    for item in lst:
        if item not in unique_list:
            unique_list.append(item)
    return unique_list

list = [1, 2, 3, 3, 3, 3, 4, 5]
unique_list = get_unique_elements(list)
print("List:", list)
print("List:", unique_list)

List: [1, 2, 3, 3, 3, 3, 4, 5]
List: [1, 2, 3, 4, 5]

In [3]:
def count_case(string):
    uppercase_count = 0
    lowercase_count = 0

    for char in string:
        if char.isupper():
            uppercase_count += 1
        elif char.islower():
            lowercase_count += 1

    print(f"No. of Upper-case characters: {uppercase_count}")
    print(f"No. of Lower-case characters: {lowercase_count}")

input_string = 'The quick Brow Fox'
count_case(input_string)

No. of Upper-case characters: 3
No. of Lower-case characters: 12